In [42]:
import pandas as pd

In [43]:
df = pd.DataFrame({'A': [0,1,2,3,4], 'B':[10,11,12,13,14]})

In [44]:
df.replace([0,14], 80) # 全局替换

    A   B
0  80  10
1   1  11
2   2  12
3   3  13
4   4  80

In [45]:
df.replace([11,12], method= 'bfill') # 自动填充

   A   B
0  0  10
1  1  13
2  2  13
3  3  13
4  4  14

In [46]:
df.replace({'A':0,'B':11}, '88', inplace = True) # 不用列值替换成相同值

In [47]:
df.replace({'A': {0:100 , 3:0.003}}) #  同一列不同值替换不同值

       A   B
0     88  10
1      1  88
2      2  12
3  0.003  13
4      4  14

In [40]:
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})

In [41]:
df.replace(regex= {r'^ba.$': 'hi', 'xyz':'hello'}) # 正则表达式替换

      A      B
0    hi    abc
1   foo     hi
2  bait  hello